/* @import url("https://fonts.googleapis.com/css?family=Roboto"); */
@import url(http://fonts.googleapis.com/css?family=Lato);

html,
body
{
  font-family: 'Open Sans';
  background-color: rgba(228, 233, 237, 0.3);
}
#root {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  /* margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-siza: cover;
  background-size: cover; */
  font-family:  'opensans';
}